body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #404040;
    display: block;
}

.card {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    margin: auto;
    width: 400px;
    background-color: #fefae0;
    border-left: 10px solid #606c38;
    border-top: 10px solid #283618;
    border-radius: 10px;
    text-align: center;
}


    
.pic {
    width: 150px;
    padding: 10px;
    border: 2px dotted #283618;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}

.info {
    margin:
}

.job {
    color: #606c38;
    font-weight: bold;
}
